@keyframes girar {
	from {
		transform: rotate(0deg);
}	
	to {
		transform: rotate(360deg);
	}

 }

.tuerca1{
	font-size: 300px;
	position: relative;
	left: 90px;
	border-radius: 50%;
	animation-name: girar;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
}


.tuerca2{
	position: relative;
	left: 100px;
	top: 50px;
	font-size: 200px;
	border-radius: 50%;
	animation-name: girar;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;

}

.tuerca3{
	font-size: 120px;
	position: relative;
	top: 100px;
	right: 500px;
	border-radius: 50%;
	animation-name: girar;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}

.tuerca4{
	font-size: 250px;
	position: relative;
	right: 550px;
	top: 300px;
	border-radius: 50%;
	animation-name: girar;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.tuerca5 {
	font-size: 80px;
	position: relative;
	right: 520px;
	top: 250px;
	border-radius: 50%;
	animation-name: girar;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}